body {
    color: white;
    background: black;
    margin: 0px;
    text-align: left;
}

p {
    color: white;
}

.itl {
    font-style: italic;
}
.icon {
    width: 30%;
}

header {
    border-bottom: solid 10px red;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
}