body {
    background-color: rgb(144, 176, 192);
    text-align: left;
}

p {
    color: rgb(255, 255, 255);
}

.itl {
    font-style: italic;
}

.esq {
    text-align: left;
}

.icon {
    width: 25%;
}

body {
    color: white;
    background: black;
}

header {
    border: solid 2px white;
}