body {
    background-color: rgb(144, 176, 192);
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
}

.itl {
    font-style: italic;
}

.esq {
    text-align: left;
}

.icon {
    width: 25%;
}